<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
    <div class="heading">
        <div class="container">
            <div class="heading-wrap">
                <div class="hamburger">
                    <div class="hamburger__top"></div>
                    <div class="hamburger__middle"></div>
                    <div class="hamburger__bottom"></div>
                </div>
                <div class="heading__logo">
                    <img src="img/logo.svg" alt="Tam Taram">
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <div class="container">
            <div class="nav-bar-wrap">
                <div class="nearest-salon">
                    <div class="nearest-salon__cursor">
                        Nearest Salon
                    </div>
                    <div class="nearest-salon__address">
                        Plush Salon 92101
                    </div>
                </div>
                <div class="nav-bar__search">
                    <img src="img/ico_search.svg" alt="Search">
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <ul class="breadcrumbs">
            <ul class="breadcrumbs__item">home</ul>
            <ul class="breadcrumbs__items-separator">/</ul>
            <ul class="breadcrumbs__item-current">videos</ul>
        </ul>
        <div class="article">
            <h1 class="article__title">
                Videos
            </h1>
            <div class="main-item">
                <div class="main-item__video">

                </div>
                <div class="main-item__description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid assumenda at atque dolorum ea, eligendi id incidunt iste labore modi molestias, obcaecati optio pariatur praesentium quod rem suscipit veniam.
                </div>
            </div>
            <div class="video-examples">
                <div class="video-examples-item">
                    <h2 class="video-examples-item__title">
                        step by step
                    </h2>
                    <div class="slick-slider">
                        <div class="slick-slider__item"></div>
                        <div class="slick-slider__item"></div>
                        <div class="slick-slider__item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="footing">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>
</footer>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
